#isi{
    text-align: center;
    background-color:#E1E1E1;
    border-radius:8px;
    margin-top:5%;
    padding:5%;
}
p{
    font-size: 18px;
}
.units{
    font-size:13px;
    display:inline-block;
}
.table{
    border-collapse:separate;
    margin-left:auto;
    margin-right:auto;
    border-spacing:0;
    table-layout:fixed;
    width:50%;
}
.bottom_border,td{
    border-bottom:1px dotted black;

}